# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
ENV/
.venv/

# Django
*.log
backend/media/
backend/staticfiles/
backend/db.sqlite3

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Frontend (будущее)
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# DB
db.sqlite3
